@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");

:root {
  --main-bg-color: #ECECEC;
  --main-bg-color-rgb: 236, 236, 236;
  --primary-font: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
}

body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/realB.png");
  background-size: cover;
}


.customfooter {
  background-color: #ededed;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Added to ensure full width */
  bottom: 0; /* Added to ensure full height */
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.gray-background {
  background-color: var(--main-bg-color);
  color: #333;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

/* Additional modern styles */
button, input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
}

.navbar {
  background-color: #a1f7d0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Fix for the navbar space issue */
.navbar-collapse {
  justify-content: flex-end;
}

.custom-img {
  height: auto;
  max-height: 50px;
}

.no-left-margin {
  margin-left: 0;
  margin-right: 0;
}

footer {
  margin-top: auto;
  padding: 20px;
}

.slash {
  font-size: 30px;
  color: black;
  margin: 0 10px;
}

/* Modernizing form elements */
input[type=text], input[type=password], input[type=email], select, textarea {
  border: 1px solid #ddd;
  padding: .5rem;
  border-radius: .25rem;
}

/* Buttons */
button, .btn {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: .5rem 1rem;
  border-radius: .25rem;
  text-transform: uppercase;
  transition: background-color .3s ease;
}

button:hover, .btn:hover {
  background-color: #003d82;
}

.card {
  min-height: 100%;  /* Adjust as needed */
  display: flex;
  flex-direction: column;
}
